<% content_for :title, "Politieke Partijen" %>

<h1>Listing political_parties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Body</th>
      <th>Active</th>
      <%# <th>Party token</th> %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
		<% @political_parties.each do |political_party| %>
    <tr>
      <td><%= political_party.name %></td>
      <td><%= political_party.abbreviation %></td>
      <td><%= political_party.body %></td>
      <td><%= political_party.active %></td>
      <%# <td><%= political_party.party_token %></td> %>
      <td><%= link_to 'Show', political_party %></td>
      <td><%= link_to 'Edit', edit_political_party_path(political_party) %></td>
      <td><%= link_to 'Destroy', political_party, data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= @political_parties.to_json %>
<%= link_to 'New Political party', new_political_party_path %>

<%= react_component("political_parties", { data: @political_parties }) %>
