<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta content="on" http-equiv="cleartype" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <meta content="no-cache" name="turbolinks-cache-control" />

    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) + " | RMTK" %>
      <% else %>
        RMTK
      <% end %>
    </title>

    <%= render 'application/favicon' %>


    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <%= react_component("navbar", { isLoggedIn: logged_in?, id: current_user&.id&.to_str, username: current_user&.username }) %>

        <%= react_component("flash_messages", messages: flash_messages) %>

        <div id="root">
        	<%= yield %>
        </div>

        <%= react_component("footer", prerender: true) %>
      </div>
    </div>
  </body>
</html>

