<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta content="on" http-equiv="cleartype" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <meta content="no-cache" name="turbolinks-cache-control" />

    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) + " | RMTK" %>
      <% else %>
        RMTK
      <% end %>
    </title>

    <%= render 'application/favicon' %>


    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= vite_typescript_tag 'application_layout.tsx', 'data-turbolinks-track': 'reload' %>
    <%= vite_stylesheet_tag 'application.scss' %>


  </head>

  <body>
    <div class="content">
      <div id="react-data-navbar" data-navbar=<%= {isLoggedIn: logged_in?, id: current_user&.id&.to_str, username: current_user&.username }.to_json.html_safe %>></div>
      <div id="navbar"></div>

      <div id="react-data-flash_messages" data-messages='<%= flash_messages.to_json.html_safe %>' ></div>
      <div id="flash_messages"></div>

      <div id="root">
       	<%= yield %>
      </div>

    </div>
    <div id="footer"></div>
  </body>
</html>

